In [1]:
import numpy as np

In [2]:
import pandas as pd
%matplotlib

Using matplotlib backend: Qt5Agg

In [44]:
df = pd.read_csv('data.csv')

In [45]:
df.head()

,id,user_id,vehicle_model_id,package_id,travel_type_id,from_area_id,to_area_id,from_city_id,to_city_id,from_date,to_date,online_booking,mobile_site_booking,booking_created,from_lat,from_long,to_lat,to_long,Car_Cancellation
0,132512,22177,28,NaN,2,83.0,448.0,NaN,NaN,1/1/2013 2:00,NaN,0,0,1/1/2013 1:39,12.924150,77.672290,12.927320,77.635750,0
1,132513,21413,12,NaN,2,1010.0,540.0,NaN,NaN,1/1/2013 9:00,NaN,0,0,1/1/2013 2:25,12.966910,77.749350,12.927680,77.626640,0
2,132514,22178,12,NaN,2,1301.0,1034.0,NaN,NaN,1/1/2013 3:30,NaN,0,0,1/1/2013 3:08,12.937222,77.626915,13.047926,77.597766,0
3,132515,13034,12,NaN,2,768.0,398.0,NaN,NaN,1/1/2013 5:45,NaN,0,0,1/1/2013 4:39,12.989990,77.553320,12.971430,77.639140,0
4,132517,22180,12,NaN,2,1365.0,849.0,NaN,NaN,1/1/2013 9:00,NaN,0,0,1/1/2013 7:53,12.845653,77.677925,12.954340,77.600720,0

2/6/19
https://blog.goodaudience.com/taxi-demand-prediction-new-york-city-5e7b12305475

In [46]:
import folium


m = folium.Map(location=[19.228825,72.854118])

In [88]:
def plot_lat_long(lat,long):
    m = folium.Map(
        location=[lat,long],
        zoom_start=12
        )
    tooltip = 'Pickup'
    folium.Marker([lat,long], popup='<i>Pickup Location</i>', tooltip=tooltip).add_to(m)
    return m

In [89]:
m = plot_lat_long(12.924150,77.672290)

In [90]:
m

In [50]:
df.head()

,id,user_id,vehicle_model_id,package_id,travel_type_id,from_area_id,to_area_id,from_city_id,to_city_id,from_date,to_date,online_booking,mobile_site_booking,booking_created,from_lat,from_long,to_lat,to_long,Car_Cancellation
0,132512,22177,28,NaN,2,83.0,448.0,NaN,NaN,1/1/2013 2:00,NaN,0,0,1/1/2013 1:39,12.924150,77.672290,12.927320,77.635750,0
1,132513,21413,12,NaN,2,1010.0,540.0,NaN,NaN,1/1/2013 9:00,NaN,0,0,1/1/2013 2:25,12.966910,77.749350,12.927680,77.626640,0
2,132514,22178,12,NaN,2,1301.0,1034.0,NaN,NaN,1/1/2013 3:30,NaN,0,0,1/1/2013 3:08,12.937222,77.626915,13.047926,77.597766,0
3,132515,13034,12,NaN,2,768.0,398.0,NaN,NaN,1/1/2013 5:45,NaN,0,0,1/1/2013 4:39,12.989990,77.553320,12.971430,77.639140,0
4,132517,22180,12,NaN,2,1365.0,849.0,NaN,NaN,1/1/2013 9:00,NaN,0,0,1/1/2013 7:53,12.845653,77.677925,12.954340,77.600720,0

In [51]:
len(df.from_lat.dropna())

43338

In [52]:
df.from_lat.shape

(43431,)

In [70]:
len(df.from_long.dropna())

43338

In [71]:
df.from_long.shape

(43431,)

In [63]:
df.apply(lambda s:plot_lat_long(s.from_lat,s.from_long),axis=1)

ValueError: ('Location values cannot contain NaNs.', 'occurred at index 3945')

In [ ]:
llat = df['from_lat']
llon = df['from_long']

for i in range(len(L_index)):
    try:
        folium.CircleMarker(location=[float(llat[i]),float(llon[i])],popup='pickup',color = 'blue',fill =True).add_to(map_locs) 
    except:
        pass